<nav class="navbar navbar-dark bg-primary">
  <a href="/" class="navbar-brand">Angular Simple CRUD</a>
</nav>

<div class="container">
  <div class="row">
    <div class="col-md-8  mt-4">
      <ul class="list-group">
        <li
        *ngFor="let empleado of empleadosArray"        
        class="list-group-item list-group-item-action">
        <span class="badge badge-primary">{{empleado.id}}</span>
          {{empleado.nombre}} - {{empleado.pais}}
        </li>
      </ul>
      <div class="card mt-4">
        <div class="card-body">
          <div class="card-title">
            Inserta un nuevo empleado
            <div class="form-group">
              <input type="text" [(ngModel)]="name" placeholder="Introduce un nombre" class="form-control">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
